.section {
    padding-bottom: 2px; 
    margin-bottom: 3px;
    background-color: white;
    border-color: #eeeeee;
    border-style: solid;
}
.section__header {
    padding: 20px;
    margin: 0;
}

.section__header--withButtons {
    display: grid;
    grid-template-columns: auto auto;
    border: 0;
    border-bottom: 3px;
    border-color: #eeeeee;
    border-style: solid;
}